.fruit-input {
    height: 30px;
    width: 300px;
    padding-left: 10px;
}

.fruit-submit {
    margin-left: 10px;
    width: 100px;
    height: 30px;
}

.fruit {
    margin: 10px 0 0 0;
}

.fruit .fruit-list{
    border: 1px solid #cccccc;
    width: 50%;
    margin: 0 auto 10px;
    box-shadow: 2px 2px #eee;
    height: 30px;
    line-height: 30px;
    
}

.fruit  .delete-icon{
    color: red;
    font-size: 20px;
    font-weight: 700;
    float: right;
    margin-right: 10px;
    cursor: pointer;
}